<!-- TODO: append child component ke parent (child disini add-todo-form, parent adalah todo-list), jalankan fungsi addTodo() pada parent jika terdeteksi adanya emit newTodoEvent dari child -->
<app-add-todo-form (newTodoEvent)="addTodo($event)"> </app-add-todo-form>
<ol *ngFor="let todo of todos; index as i" class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-3 me-auto">
      <div class="content {{ todo.completed ? 'done' : '' }}">
        {{ i + 1 }}. {{ todo.content }}
      </div>
    </div>
    <button (click)="toggleDone(i)" class="btn btn-warning btn-sm completed">
      <i class="bi bi-check-circle"></i>
    </button>
    <button (click)="deleteTodo(i)" class="btn btn-danger btn-sm">
      <i class="bi bi-trash-fill"></i>
    </button>
  </li>
</ol>
