<!-- TODO: ini navbar cuma untuk navigasi, ga ngapa-ngapain -->
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Todo App</a>
  </div>
</nav>
