<form>
  <div class="input-group mb-3">
    <!-- TODO: two ways binding ke prop inputTodo -->
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter todo..."
      class="form-control"
      [(ngModel)]="inputTodo"
    />
    <!-- TODO: jalankan fungsi addTodo() child saat submit -->
    <button type="submit" class="btn btn-primary" (click)="addTodo()">
      Add Todo
    </button>
  </div>
</form>
